.backgroundImg {
    background-image: url(/public/images/LOGIN.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}
.logo {
    background-image: url(/public/images/Background.png);
    background-repeat: no-repeat;
    background-position-x: 26%;
    background-position-y: center;
}
.divider {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dummy {
    flex: 57%;
}
.login-container {
    box-shadow: 2px 2px rgba(128, 128, 128, 0.3);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    /* width: 200px; */
    background-color: white;
    flex-direction: row;
    flex: 30%;
    margin-left: 20rem;
}
.dummy2 {
    flex: 9%;
}
.input-container {
    /* margin: 6rem 2rem 5rem 2rem; */
    margin:6rem 1rem 7rem 1rem;
    width: 75%;
}
/* Input {
    border: none;
    
} */
.heading {
    margin-bottom: 3rem;
}
.heading h3 {
    font-weight: 500;
    color: #043752;
    cursor: default;
}
.heading span {
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #043752;
}
/* span:hover{
    cursor: pointer;
} */
button {
    padding: 3px 0px 3px 0px;
    width: 100%;
    background-color: #043752;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.833);
    height: 2rem;
}
.input {
    /* width: 100%; */
    /* background-color: rgb(155, 169, 196); */
    border-radius: 5px;
    color: #043752;
    border: none;
    margin: 1rem 0rem;
    width: 20rem;
    
}
input::placeholder{
    color: rgba(125, 125, 125, 0.833);
    text-align: left;
}
.wrapper {
    position:relative;
    width: 100%;
  }
  .icon {
    height: 1.5rem;
    width: 1.5rem;
    /* background-color: red; */
    padding: 4px;
    position: absolute;
    /* box-sizing:border-box; */
    top:50%;
    left:2px;
    transform: translateY(-50%);
  }
.fgtps {
    float:right;
    color: #043752;
    margin-bottom: 1rem;
}
.fgtps:hover{
    cursor: pointer;
}
.fgtps:hover {
    cursor: pointer;
}

/* media query for size of 768px laptop*/
@media (min-width:768px) and (max-width:1224px){
    .backgroundImg{
        background-image: url(/public/images/LOGIN.png);
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .logo{
        background-image: url(/public/images/Background.png);
        background-repeat: no-repeat;
        background-position-x:25%;
        background-position-y:center;
    }
    .dummy{
        flex: 55%;
    }
    .login-container{
        flex: 40%;
        margin-left: auto;
        height: 70vh;
        width: 100vw;
        display: block;
        justify-content: center;
        align-items: center;
    }
    .dummy2{
        flex:25%
    }
    button {
        padding: 3px 0px 3px 0px;
        width: 50%;
        background-color: #043752;
        border-radius: 3px;
        color: rgba(255, 255, 255, 0.833);
        height: 2rem;
    }
}
/* media query for size of 768px tab*/

@media (min-width:581px) and (max-width:767px){
    .backgroundImg{
        background-image: url(/public/images/LOGIN.png);
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .logo{
        background-image: url(/public/images/Background.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-x:25%;
        background-position-y:center;
    }
    .dummy{
        flex: 50%;
    }
    .login-container{
        flex: 40%;
        margin-left: auto;
        height: 70vh;
        width: 100vw;
        display: block;
        justify-content: center;
        align-items: center;
    }
    .dummy2{
        flex:25%
    }
    button {
        padding: 3px 0px 3px 0px;
        width: 50%;
        background-color: #043752;
        border-radius: 3px;
        color: rgba(255, 255, 255, 0.833);
        height: 2rem;
    }
}
/*media query for size of mobile 580px*/

@media(max-width:580px){
    .backgroundImg{
        height: 100vh;
    }
    .logo{
        background-image:none ;
    }
    .dummy{
        flex: 15%;
    }
    .login-container{
        flex: 40%;
        margin-left: auto;
        height: 70vh;
        width: 100vw;
        display: block;
        justify-content: center;
        align-items: center;
    }
    .dummy2{
        flex:15%
    }
    button {
        padding: 3px 0px 3px 0px;
        width: 50%;
        background-color: #043752;
        border-radius: 3px;
        color: rgba(255, 255, 255, 0.833);
        height: 2rem;
    }
}

/*media query for size of mobile 475px*/

@media (min-width:240px) and (max-width:475px){
    .backgroundImg{
        background-image: none;
        height: 100vh;
    }
    .logo{
        background-image: none;

    }
    .divider{
        background-color: #ffffff;
        height: 100vh;
    }
    .login-container{
        height: 70vh;
        flex: 100%;
        width: 100vw;
        display: block;
        justify-content: center;
        align-items: center;
        border-radius: 3.5px;
        /* border: #043752 2px solid; */
        background-color: #7598ab;
    }
    input::placeholder{
        color: rgba(229, 228, 228, 0.833);
        text-align: left;
    }
    .heading {
        margin-bottom: 3rem;
    }
    .heading h3 {
        font-weight: 700;
        color: #043752;
        cursor: default;
    }
    .heading span {
        margin-top: 10px;
        font-weight: 1000;
        font-size: 1.4rem;
        color: #043752;
    }
    .dummy{
        flex: 2%;
    }
    .dummy2{
        flex: 2%;
    }
    button {
        padding: 3px 0px 3px 0px;
        width: 50%;
        background-color: #043752;
        border-radius: 3px;
        color: rgba(255, 255, 255, 0.833);
        height: 2rem;
    }
}