.backimage {
    background-image: url(/public/images/LOGIN.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}
.logo {
    background-image: url(/public/images/Background.png);
    background-repeat: no-repeat;
    background-position-x: 25%;
    background-position-y: center;
}
.divider {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dummy {
    flex: 57%;
}
.login-container {
    box-shadow: 2px 2px rgba(128, 128, 128, 0.3);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    /* width: 200px; */
    background-color: white;
    flex-direction: row;
    flex: 30%;
}
.dummy2 {
    flex: 10%;
}
.input-container {
    margin: 5rem 2rem 5rem 2rem;
}
Input {
    border: none;
}
.heading {
    margin-bottom: 2rem;
}
.heading h2 {
    font-weight: 400;
    color: #043752;
}
.heading span {
    font-weight: 450;
    color: #043752;
}
button {
    padding: 3px 0px 3px 0px;
    width: 100%;
    background-color: #2C566D;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.833);
    height: 2rem;
}
.input {
    width: 100%;
    background-color: rgb(155, 169, 196);
    border-radius: 5px;
    color: #043752;
    border: none;
    margin: 1rem 0rem;
}
.fgtps {
    float:right;
    color: #043752;
    margin-bottom: 1rem;
}
.fgtps:hover {
    cursor: pointer;
}

@media (max-width:940px){
    .logo{
        background-position-x:15% ;

    }
    .dummy{
        flex: 55%;
    }
    .login-container{
        flex: 40%;
    }
    .dummy2{
        flex:10%
    }
}

@media (max-width:780px){
    .logo{
        background-position-x:10% ;
      
    }
    .dummy{
        flex: 35%;
    }
    .login-container{
        flex:45%;
    }
    .dummy2{
        flex: 10%;
    }
}
@media(max-width:580px){
    .backimage{
        height: 100vh;
    }
    .logo{
        background-image:none ;
    }
    .dummy{
        flex: 35%;
    }
    .login-container{
        flex: 50%;
    }
    .dummy2{
        flex:15%
    }
}
@media  (max-width:475px){
    .backimage{
        background-image: none;
        height: 100vh;
    }
    .logo{
        background-image: none;

    }
    .divider{
        background-color: #043752;
        height: 100vh;
    }
    .login-container{
        height: 70vh;
        flex: 100%;
        width: 100vw;
        display: block;
        justify-content: center;
        align-items: center;
        border-radius: 3.5px;
        /* border: #043752 2px solid; */
    }
    .dummy{
        flex: 0%;
    }
    .dummy2{
        flex: 0%;
    }
}